<!-- Shopping Cart -->
<div class="shopping-cart section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Shopping Summary -->
                <table class="table shopping-summery">
                    <thead>
                        <tr class="main-hading">
                            <th>PRODUCT</th>
                            <th>NAME</th>
                            <th class="text-center">UNIT PRICE</th>
                            <th class="text-center">QUANTITY</th>
                            <th class="text-center">TOTAL</th> 
                            <th class="text-center"><i class="ti-trash remove-icon"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% cartItems.forEach(item => { %>
                        <tr>
                            <td class="image" data-title="No">
                                <img src="<%= item.bookId.imageURL %>" alt="<%= item.bookId.title %>">
                            </td>
                            <td class="product-des" data-title="Description">
                                <p class="product-name"><a href="/book/<%= item.bookId.slug %>"><%= item.bookId.title %></a></p>
                                <p class="product-author"><%= item.bookId.author %></p>
                                <p class="product-genre">Genre: <%= item.bookId.category  %></p>
                            </td>
                            <td class="price" data-title="Price"><span>Rs.<%= item.bookId.price %></span></td>
                            <td class="qty" data-title="Qty">
                                <!-- Input Order -->
                                <div class="input-group">
                                    <div class="button minus">
                                        <button type="button" class="btn btn-primary btn-number" data-type="minus" data-field="quant[<%= item._id %>]">
                                            <i class="ti-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" name="quant[<%= item._id %>]" class="input-number" data-min="1" data-max="100" value="<%= item.quantity %>">
                                    <div class="button plus">
                                        <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[<%= item._id %>]">
                                            <i class="ti-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <!--/ End Input Order -->
                            </td>
                            <td class="total-amount" data-title="Total"><span>Rs.<%= item.bookId.price * item.quantity %></span></td>
                            <td class="action" data-title="Remove">
                                <a href="#" class="remove-item" data-id="<%= item._id %>" title="Remove this item">
                                    <i class="ti-trash remove-icon"></i>
                                </a>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
                <!--/ End Shopping Summary -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Total Amount -->
                <div class="total-amount">
                    <div class="row">
                        <div class="col-lg-8 col-md-5 col-12">
                            <div class="left">
                                <div class="coupon">
                                    <form action="#" target="_blank">
                                        <input name="Coupon" placeholder="Enter Your Coupon">
                                        <button class="btn">Apply</button>
                                    </form>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox"> Shipping (+Rs.200)</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-7 col-12">
                            <div class="right">
                                <ul>
                                    <li>Cart Subtotal<span>Rs.<%= cartItems.reduce((acc, item) => acc + item.bookId.price * item.quantity, 0) %></span></li>
                                    <li>Shipping<span>Rs.200</span></li>
                                    <li>You Save<span>Rs.100</span></li>
                                    <li class="last">You Pay<span>Rs.<%= cartItems.reduce((acc, item) => acc + item.bookId.price * item.quantity, 0) + 200 %></span></li>
                                </ul>
                                <div class="button5">
                                    <a href="checkout.html" class="btn">Checkout</a>
                                    <a href="index.html" class="btn">Continue shopping</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ End Total Amount -->
            </div>
        </div>
    </div>
</div>
<!--/ End Shopping Cart -->
<script>
    document.querySelectorAll('.remove-item').forEach(function (btn) {
        btn.addEventListener('click', function (event) {
            event.preventDefault();
            const itemId = this.getAttribute('data-id'); // Get the CartItem ID

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Send DELETE request to the server
                    fetch(`/cart/delete/${itemId}`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            Swal.fire(
                                'Deleted!',
                                'Your item has been removed from the cart.',
                                'success'
                            ).then(() => {
                                window.location.reload(); // Reload the page to show updated cart
                            });
                        } else {
                            Swal.fire(
                                'Error!',
                                'Something went wrong.',
                                'error'
                            );
                        }
                    })
                    .catch(error => {
                        console.error('Error during deletion:', error);
                        Swal.fire(
                            'Error!',
                            'There was a problem deleting the item.',
                            'error'
                        );
                    });
                }
            });
        });
    });
</script>