<div class="search-bar">
    <!-- Search Bar -->
    <div class="search-bar-top">
        <div class="search-bar">
            <form action="/search" method="get">
                <input name="title" placeholder="Search Products Here....." type="search" value="<%= searchParams.title || '' %>">
                <button type="submit" class="btnn"><i class="ti-search"></i></button>
            </form>
        </div>
    </div>
    <!--/ End Search Bar -->
</div>

</div>   
<!-- Start Most Popular -->
<div class="product-area most-popular section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Trending Item</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel popular-slider">
                    <% trending.forEach(book => { %>
                        <!-- Start Single Product -->
                        <div class="single-product">
                            <div class="product-img">
                                <a href="/book/<%= book.slug %>">
                                    <img class="default-img" src="<%= book.imageURL %>" alt="<%= book.title %>">
                                    <img class="hover-img" src="<%= book.imageURL %>" alt="<%= book.title %>">
                                    <% if (book.isNew) { %>
                                        <span class="new">New</span>
                                    <% } %>
                                    <% if (book.isHot) { %>
                                        <span class="out-of-stock">Hot</span>
                                    <% } %>
                                    <% if (book.discount) { %>
                                        <span class="out-of-stock">
                                            <%= book.discount %> off
                                        </span>
                                    <% } %>
                                </a>
                                <div class="button-head">
                                    <div class="product-action">
                                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="/book/<%= book.slug %>"><i class="ti-eye"></i><span>Quick Shop</span></a>
                                        <a title="Wishlist" href="/cart"><i class="ti-heart"></i><span>Add to Wishlist</span></a>
                                    </div>
                                    <div class="product-action-2">
                                        <a href="#" class="buy add-to-cart" data-id="<%= book._id %>" title="Add to cart">Add to cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="/book/<%= book.slug %>"><%= book.title %></a></h3>
                                <div class="product-price">
                                    <% if (book.discountPrice) { %>
                                        <span class="old">Rs.<%= book.price %></span>
                                        <span>Rs.<%= book.discountPrice %></span>
                                    <% } else { %>
                                        <span>Rs.<%= book.price %></span>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Product -->
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Most Popular Area -->

<!-- Start Voucher Section -->
<div class="voucher-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Available Coupons</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <% coupons.forEach(coupon => { %>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-voucher">
                        <div class="voucher-info">
                            <p class="voucher-code" id="code-<%= coupon._id %>">
                                <%= coupon.code %>
                            </p>
                            <textarea id="hidden-code-<%= coupon._id %>" style="position: absolute; left: -9999px;">
                                <%= coupon.code %>
                            </textarea>
                            <button class="copy-btn" data-target="#hidden-code-<%= coupon._id %>">
                                Copy
                            </button>
                        </div>
                        <div class="voucher-description">
                            <p><%= coupon.description %></p>
                        </div>
                        <div class="voucher-discount">
                            <p>Discount: <%= coupon.discount %></p>
                        </div>
                        <div class="voucher-validity">
                            <p>Valid until: <%= coupon.expiresAt %></p>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>
<!-- End Voucher Section -->


<!-- Start Shop Home List  -->
<section class="shop-home-list section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="shop-section-title">
                            <h1>Used Books</h1>
                        </div>
                    </div>
                </div>
                <!-- Start Single List  -->
                <% if (usedBooks && usedBooks.length > 0) { %>
                    <% usedBooks.forEach(book => { %>
                        <div class="single-list">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="list-image overlay">
                                        <img src="<%= book.imageURL %>" alt="<%= book.title %>">
                                        <a href="#" class="buy add-to-cart" data-id="<%= book._id %>"><i class="fa fa-shopping-bag"></i></a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 no-padding">
                                    <div class="content">
                                        <h4 class="title"><a href="/book/<%= book.slug %>"><%= book.title %></a></h4>
                                        <p class="price with-discount">Rs.<%= book.price %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                <% } else { %>
                    <p>No Used Books at the moment.</p>
                <% } %>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="shop-section-title">
                            <h1>Best Seller</h1>
                        </div>
                    </div>
                </div>
                <!-- Start Single List  -->
                <% if (bestSeller && bestSeller.length > 0) { %>
                    <% bestSeller.forEach(book => { %>
                        <div class="single-list">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="list-image overlay">
                                        <img src="<%= book.imageURL %>" alt="<%= book.title %>">
                                        <a href="#" class="buy add-to-cart" data-id="<%= book._id %>"><i class="fa fa-shopping-bag"></i></a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 no-padding">
                                    <div class="content">
                                        <h5 class="title"><a href="/book/<%= book.slug %>"><%= book.title %></a></h5>
                                        <p class="price with-discount">Rs.<%= book.price %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                <% } else { %>
                    <p>No Best Seller Books at the moment.</p>
                <% } %>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="shop-section-title">
                            <h1>New Arrival</h1>
                        </div>
                    </div>
                </div>
                <!-- Start Single List  -->
                <% if (newArrivals && newArrivals.length > 0) { %>
                    <% newArrivals.forEach(book => { %>
                        <div class="single-list">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="list-image overlay">
                                        <img src="<%= book.imageURL %>" alt="<%= book.title %>">
                                        <a href="#" class="buy add-to-cart" data-id="<%= book._id %>"><i class="fa fa-shopping-bag"></i></a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 no-padding">
                                    <div class="content">
                                        <h5 class="title"><a href="/book/<%= book.slug %>"><%= book.title %></a></h5>
                                        <p class="price with-discount">Rs.<%= book.price %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                <% } else { %>
                    <p>No new arrivals at the moment.</p>
                <% } %>
            </div>
        </div>
    </div>
</section>
<!-- End Shop Home List  -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Initialize ClipboardJS
        const clipboard = new ClipboardJS('.copy-btn', {
            target: function(trigger) {
                return document.querySelector(trigger.getAttribute('data-target'));
            }
        });

        clipboard.on('success', function(e) {
            // Optionally show a message or animation to indicate the code has been copied
            alert('Coupon code copied to clipboard!');
        });

        clipboard.on('error', function(e) {
            // Optionally show an error message if copying fails
            alert('Failed to copy coupon code.');
        });
    });
</script>


<style>
    /* Start Voucher Section Styling */
.voucher-section {
    background-color: #f9f9f9;
    padding: 40px 0;
}

.voucher-section .section-title h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.single-voucher {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.single-voucher:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.voucher-code {
    font-size: 20px;
    font-weight: bold;
    color: #e74c3c;
    margin-bottom: 10px;
}

.voucher-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.voucher-discount {
    font-size: 18px;
    font-weight: bold;
    color: #27ae60;
    margin-bottom: 10px;
}

.voucher-validity {
    font-size: 14px;
    color: #999;
}

@media (max-width: 768px) {
    .single-voucher {
        padding: 15px;
    }
    .voucher-code {
        font-size: 18px;
    }
    .voucher-description,
    .voucher-discount,
    .voucher-validity {
        font-size: 14px;
    }
}

/* Styles for Search Bar */
.search-bar-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.search-bar {
    position: relative;
    width: 100%;
    max-width: 600px;
    align-self: center;
}

.search-bar form {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar input[type="search"] {
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.search-bar input[type="search"]:focus {
    background-color: #fefefe;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar .btnn {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 0 30px 30px 0;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar .btnn:hover {
    background-color: #0056b3;
}

.search-bar .btnn i {
    font-size: 18px;
}
</style>